@model MemberManager.Models.Club

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_MemberManagerLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Club</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LegalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LegalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShortName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShortName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WebsiteURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WebsiteURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FacebookURL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FacebookURL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MemberClub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MemberClub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryClub)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CountryClub)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressLine2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressLine2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Club2.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Club2.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ClubId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
